*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'plus jakarta sans';
}

header{
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: auto;
    

}
.header-lineal{
    color: white;
    
}
ul{
    list-style: none;
    
}
footer{
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    color: white;
    font-family: 'plus jakarta sans';
    padding: 2%;        
}
