* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'plus jakarta sans';
}


header {
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 2rem;
}

.header-lineal {
    color: white;
    flex: 1;
    display: flex;
    justify-content: end;
    margin: 60px;
    text-decoration: none;
}
button{
    background-color: white;
    color: #306BB3;
    border: none;
    padding: 15px 4px;
    border-radius: 6px;
}
ul {
    display: flex;
    list-style: none;
    font-style: medium;
    font-size: 80%;
    justify-content: space-between;

}

h1 {
    width: 471px;
    height: 72px;
    left: 458.48px;
    top: 165px;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.02em;
    color: #486284;

}

.p1 {
     width: 529.48px;
    height: 67.42px;
    left: 410.17px;
    top: 252px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #1A202C;
}

.p2 {
    width: 669px;
    height: 528px;
    left: 701px;
    top: 356px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
}

#allpokemons {
   
    width: 565px;
    height: 528px;
    left: 69px;
    top: 356px;
}


footer {
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    color: white;
    font-family: 'plus jakarta sans';
    padding: 5%;
}

.footer-navigation{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 60%;
    margin-right: 40px;

}

.vertical {
    display: flex;
    flex-direction: column;
    height: 70%;
}
h3{
    margin-bottom: 30px;
}
.socmed {
    background-color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 100%;
}
p{
    margin: 30px 0;
    font-size: small;
}