* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'plus jakarta sans';
}


.header {
    background-color: #306BB3;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    padding: 2rem;
}

.header-links {
    display: flex;
    list-style: none;
    text-decoration: none;
    font-style: medium;
    font-size: 80%;

}

.header-lineal {
    color: white;
    flex: 1;
    display: flex;
    justify-content: end;
    margin: 60px;
    text-decoration: none;

}

.header-button {
    background-color: white;
    color: #306BB3;
    border: none;
    padding: 15px 6px;
    border-radius: 6px;
}

.social {
    display: flex;
    list-style: none;
    font-style: medium;
    font-size: 80%;
    justify-content: space-between;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 150px 50px 100px 50px;
}

.footer {
    display: flex;
    background-color: #306BB3;
    justify-content: space-between;
    color: white;
    font-family: 'plus jakarta sans';
    padding: 5%;
}

.footer-navigation {
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 60%;
    margin-right: 40px;
}

.footer-slogan {
    margin: 30px 0;
    font-size: small;
    width: 245px;
}

.vertical {
    display: flex;
    flex-direction: column;
    height: 70%;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    font-size: 80%;
}

.footer-title {
    margin-bottom: 30px;
}

.info {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.info-title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    margin: 40px 0px;
}

.info-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 4%;
    font-weight: bold;
}

.info-text {
    display: flex;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;

}

.info-content {
    opacity: 45%;
    max-width: 554px;
}

.social-item {
    background-color: white;
    padding: 10px;
    font-size: 14px;
    border-radius: 100%;
}

/* BUY CARDS STYLE*/
.buycards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle {
    text-align: center;
    color: #486284;
    font-size: 3rem;
    margin-top: 40px;
    font-weight: normal;
}

.description {
    text-align: center;
    margin-top: 30px;
    width: 457px;
}

.card-button {
    width: 45%;
    height: 100%;
    background-color: #306BB3;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    padding: 0px;
}

.container_select_type {
    margin: 30px;
    height: 70px;
    display: flex;
    border-bottom: 1px solid #90A3BF;
    align-items: center;
    min-width: 100%;
}

.container_select_type>div {
    width: calc(100% / 4);
    text-align: center;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}

.card {
    background-color: #DEE5ED;
    width: calc(90% / 4);
    height: 400px;
    padding: 2%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card>div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
}

.card>div>p {
    color: #1A202C;
    font-weight: bolder;
    text-transform: initial;
}


.card>picture {
    width: 100%;
    height: 70%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-cards {
    padding: 13px 4px;
    background-color: #306BB3;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
}

.final-part {
    display: flex;
    justify-content: end;
    min-width: 100%;
    gap: 41%; /*calc(50% - 165px); */

}
/*DANIEL ES UNA TRAGONA*/